<% @images.each do |image| %>
    <div style="display:inline-block">
      <%= link_to image_tag(image.file.url(:medium)), image %>

      <div class="image-metadata">

        <div><%= image.caption %></div>
        <div>
            <%= pluralize(image.votes_for.count, "vote") %>

            <% if true || current_user.present? %>
                <%= form_tag like_image_path(image), method: :put, class: 'like-frm' do %>
                  <button type="submit" class="upvote-btn">
                    <i class="icono-upArrow"></i>
                  </button>
                <% end %>

                <%= form_tag dislike_image_path(image), method: :put, class: 'like-frm' do %>
                  <button type="submit">
                    <i class="icono-downArrow"></i>
                  </button>
                <% end %>
            <% end %>

            <% if false && image.user.id == current_user.id %>
                <%= link_to 'Edit', edit_image_path(image) %>
                <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </div>

      </div>

    </div>
<% end %>

<!--images.forEach(function (image) {-->
<!--});-->
