<h3> <%= @image.user.username %> </h3>
<%= image_tag(@image.file.url(:large))%>
<p>
  <%= @image.caption %>
</p>
<div class="image-metadata">
  <%= form_tag like_image_path(@image), method: :put, class: 'like-frm' do %>
      <button type="submit" class="upvote-btn">
        <i class="icono-upArrow"></i>
      </button>
  <% end %>

  <!-- put num of upvotes here -->
  <small>&nbsp;<%= @image.get_upvotes.size %></small>

  <%= form_tag dislike_image_path(@image), method: :put, class: 'like-frm downvote' do %>
      <button type="submit">
        <i class="icono-downArrow"></i>
      </button>
  <% end %>

  <!-- put num of downvotes here -->
  <small>&nbsp;<%= @image.get_downvotes.size %></small>
</div>

<% if @image.user == @current_user %>
    <%= button_to "delete image", @image, :method=>:delete, :controller=>:image, :action => :destroy %>
<% end %>
<%= link_to "back to user", @image.user %>

