<div class="navbar">
  <strong>Pixly</strong>

  <div class="actions">
      <% if logged_in? %>
        Hello, <%= link_to current_user.username, current_user %>!
          <!--Upload-->
          <!-- link_to "Upload", controller: 'images', action: 'new' -->

        <%= link_to "Upload Image", controller: "images", action: "new" %>
        <%= link_to "Log out", controller: "sessions", action: "destroy" %>
      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "Log in", controller: "sessions", action: "new" %>
      <% end %>
  </div>
</div>
 <!--link_to 'log out', {:action => "destroy", :controller=> @sessions, :method => :delete { confirm: 'Are you sure?' } %>-->